.newscomment-header{
	font-size: 8pt;
}

.newscomment-header > a {
	color: #828282;
  	text-decoration: none;
}

.newscomment-header > a:hover {
  	text-decoration: underline;
}

.newscomment-content{
	width: 98%; /* 100% makes too close to edge */
	margin-top: 9px;
	margin-bottom: 9px;
	color: #000000;
	font-family: Verdana, Geneva, sans-serif;
    font-size: 9pt;
}

.newscomment-content a {
	color: #000000;
}