/*
    Forked from https://github.com/mking/react-hn/blob/master/css/NewsItem.css
*/

.newsItem {
  color: #828282;
  margin-top: 5px;
  margin-left: 2px;
  align-items: baseline;
  display: flex; 
}

.newsItem-titleLink {
  color: black;
  font-size: 10pt;
  text-decoration: none;
}

.newsItem-subtext {
  font-size: 7pt;
}

.newsItem-subtext > a {
  color: #828282;
  text-decoration: none;
}

.newsItem-subtext > a:hover {
  text-decoration: underline;
}

.newsItem-itemText {
  flex-grow: 1;
  margin-left: 5px;
}

.newsItem-rank {
  flex-basis: 25px;
  font-size: 10pt;
  text-align: right;
}

.newsItem-vote {
  text-align: center;
}

.newsItem-domain {
  font-size: 8pt;
	margin-left: 5px;
}

.margin-left-10 {
  margin-left: 10px;
}